/*vk.com/theycallmetony - пусть тот бедолага который будет рефакторить этот ужас, за который мне наверняка будет стыдно отпишет сюда если что не понятно*/
.page-header{
	top:0;
	background-image: linear-gradient(to bottom, #428bca 0, #3278b3 100%);
	margin:0;
}
#header1{
	position: relative;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #fff;
	padding-left: 10px;
	margin:0;
	top: 50%;
}
.scrollable-menu {
    height: 165px;
    max-height: 165px;
    overflow-x: hidden;
}
.scrollable-menu-2 {
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
}
.scrollable-menu-3 {
    height: auto;
    max-height: 550px;
    overflow-x: hidden;
}

ul {
	list-style-type: none;
}
body {
	background: #ffffff; /* Old browsers */
	font-family: Verdana, sans-serif;
}

