<div class="container">
<h1>{{title}}</h1>
  <div class="row">
    <div class="col-md-4">    
      <researches (onSelectRes)="onSelectRes($event)"></researches>
      <datepick (onSelectDay)="onSelectDay($event)"></datepick>
    </div>
    <div class="col-md-4">    
      <doctors *ngIf="selectedDay.enabled"
      (onSelectDoc)="onSelectDoc($event)"></doctors>
      <info-form [day]="selectedDay"
                 [doc]="selectedDoc"
                 [res]="selectedRes"
      ></info-form>
    </div>
    <div class="col-md-4">    
      <timeline ng-if="selectedDay" [selDay]="selectedDay"></timeline>
    </div>
  </div>
</div>
